/* You can add global styles to this file, and also import other style files */
@import "font";
@import "layout";

body {
  height: 100dvh;
  padding: 0;
  margin: 0;
}

.test {
  outline: green solid 1px;
  min-height: 10px;
}
.test2 {
  outline: red solid 1px;
}
