@import "function";
:host {
  margin: times8(1);
  display: block;
  background-color: rgba(0, 0, 0, 0.32);
  height: 600px;

  color: white;
  padding-top: times8();

  h2 {
    text-align: center;
  }
}
