:host {
  margin: auto;
  width: 50vw;
  max-width: 800px;
  display: grid;

  .img {
    margin: auto;
  }

  place-content: center;

  form {
    width: inherit;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 30px;
  }
}
