<!--<ag-grid-angular-->
<!--  style="width: 100%; height: 100%"-->
<!--  class="ag-theme-alpine"-->
<!--  [columnDefs]="columnDefs"-->
<!--  [defaultColDef]="defaultColDef"-->
<!--  [rowData]="all$ | async"-->
<!--  [rowSelection]="'multiple'"-->
<!--  [animateRows]="true"-->
<!--  (gridReady)="onGridReady($event)"-->
<!--  (cellClicked)="onCellClicked($event)"-->
<!--&gt;</ag-grid-angular>-->

<passport-workshop-generic-table
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="all$ | async"
>

</passport-workshop-generic-table>
