:host {
  display: block;
  padding-top: 40px;

  .header {
    margin: auto;

    width: 80vw;
    min-width: 300px;
    display: grid;
    grid-template-columns: 1fr 10vw 1fr;
    place-content: center space-around;

    img {
      margin: auto;
    }

    .actions {
      display: block;
      border-bottom: white solid 2px;
      align-items: center;

      &.end {
        display: flex;
        justify-content: flex-end;


      }

      &.start {
        display: flex;
        justify-content: flex-start;

      }
    }
  }

  .content {
    margin: auto;
    width: 1000px;
    max-width: 90vw;
  }


  button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    height: 23px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all ease-in-out .2s;

    &:hover {
      background-color: rgba(199, 2, 2, 0.9);
    }
  }
}
